body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #cae9f0;
  background-image: url('/images/fondo-web.webp')  !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}
a, button, select, input {
  transition: all 0.2s ease;
}

.boton-spinner {
    display: none !important;
}

.boton-submit.cargando .boton-spinner {
    display: inline-block !important;
}

.boton-submit.cargando .boton-icon,
.boton-submit.cargando .boton-text {
    display: none !important;
}
